<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Rajat's Website</title>
        
        <link rel="stylesheet" type="text/css" href="Vendors/Css/normalize.css">
        
        <link rel="stylesheet" type="text/css" href="Vendors/Css/simple-grid.css">
        
        <link rel="stylesheet" type="text/css" href="Resources/Css/style.css">
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        <header>
        <div class="bgimage">
            <h1 style="color: #ffffff">Department of ISE</h1>
             <section class="register">
            <div class="box">
                <form class="login" style="font-size: 19px">
                  USN:<br>
                  <input type="text" name="usn"><br>    
              
                  Password:<br>
                  <input type="password" name="pass"><br>
                    <br>
                  <input type="submit" value="Submit">
                  <input type="reset" value="Reset">
                  
                    
            </ form>
            </div>
        </section>
            </div>
           
        </header>
    </body>
</html>    