
{% load static %}

{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}


<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Admin</title> 
        
        <link rel="stylesheet" type="text/css" href="{% static 'Vendors/Css/normalize.css' %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/simple-grid.css" %}"> 
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/ionicons.min.css" %}">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static "css/style-admin.css" %}">  
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
<!--        <script src="Resources/Js/admin.js"></script>-->
    </head>
     <body>
            <header>
                <div class= "user">
                   Hello, Admin 
                    <i class="glyphicon glyphicon-user icon-top"></i>
                    
                </div>
                <ul class="main-nav">
                    <li><a href="#">Home</a></li>
                    
<!--
                    <li><a href="#attendedtable">Events</a></li>
                    <li><a href="#surveypart">Surveys</a></li>
-->
                </ul>
                
            </header>
         <section class="events_choices">
            <div class="row" style="max-width: 1200px;margin-left: auto;margin-right: auto">
                
                <div class="col col-4-sm">
                    <a href="#events">
                        <div class="box">
                        <i class="glyphicon glyphicon-tasks icon-big"></i>
                        <h4>All Events</h4>
                        </div>
                    </a>
                </div>
                
                <div class="col col-4-sm">
                    <a href="#survey">
                        
                        <div class="box">
                        <i class="glyphicon glyphicon-user icon-big"></i>
                        <h4>Survey</h4> 
                        </div>
                    </a>               
                </div>
                <div class="col col-4-sm">
                    <a href="#students">
                        
                        <div class="box">
                        <i class="glyphicon glyphicon-list icon-big"></i>
                        <h4>Students</h4> 
                        </div>
                    </a>               
                </div>
                </div>      
         </section>
         <br> 
         <br>
         <section class="events-table">
             <div class = "all-events" id="events">
               <h1 id="events-head"><strong>&mdash; All Events &mdash;</strong></h1>            
                    <table id ="t02">
                <tr>
                    <th>Event_id</th>    
                    <th>Event Name</th>
                    <th>Modify</th>
                    <th>Delete</th>
                    <th>Survey</th>
                    <th>Registrants</th>
                    
<!--                    <th>Survey</th>-->
                </tr>    
                 {% for event in events %} 
                <form  method="POST" id="systemForm">
                <tr>
                    <td>{{ event.event_id }}</td>
                    <td>{{ event.event_name }}</td>
                    
                    <td><button  type="submit" id="1" name="editevent" style="border:none; background:none;" value="{{ event.event_id }}" form="systemForm" formaction="/admin1/edit-event1/"<i class="glyphicon glyphicon-edit"></i></button></td>

                    <td><button  type="submit" name="delete" style="border:none; background:none;" value="{{ event.event_id }}" formaction="/admin1/delete-event/"<i class="glyphicon glyphicon-trash"></i></button></td>

                    <td><button  type="submit" name="editsurvey" style="border:none; background:none;" value="{{ event.event_id }}"  formaction="/admin1/edit-survey1/"<i class="glyphicon glyphicon-edit"></i> </button></td>
                    {% csrf_token %}
                    <td><button class="gbtns" type="submit" name="registrants" id="tes1" value="{{ event.event_id }}" formaction="/admin1/registrants1/" >View All students</button></td>
                </tr> 
                </form>
                {% endfor %}
     
            </table>
                 <a href="/admin1/create-event/" class="create-btn">Create Event</a>
            </div>
             
         </section>
         <section class="survey" id="survey">
            <h1 id="sur-head"><strong>&mdash;Survey Section&mdash;</strong></h1>
             <div class = "all-events" id="survey">
                    <table id ="t02">
                <tr>
                    <th>Event id</th>    
                    <th>Event Name</th>
                    
                   <th>Survey</th>
                </tr>    
                {% for event in survey %}
                <form  method="POST" id="systemForm">
                <tr>
                    <td>{{ event.event_id }}</td>
                    <td>{{ event.event_name }}</td>
                    <td><button class="gbtns" type="submit" id="10" name="responseid" style="border:none;" value="{{ event.event_id }}" form="systemForm" formaction="/admin1/response1/">View Response</button></td>
                </tr> 
                </form>
                {% endfor %}
            </table>
                 
            </div>
         
         
         </section>
         <section class="students-table">
             <div class = "all-events" id="students">
               <h1 id="events-head"><strong>&mdash; Students &mdash;</strong></h1>            
                    <table id ="t02">
                
                <tr>
                    <th>USN</th>    
                    <th>Student Name</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Branch</th>
                    <th>Edit</th>
                    <th>Delete</th>
<!--                    <th>Survey</th>-->
                </tr>    
                
                {% for stud in students %}
                <form method="POST" id="systemForm">
                <tr> 
                    <td>{{ stud.username }} </td>
                    <td>{{ stud.first_name }} {{ stud.last_name }} </td>
                    <td>{{ stud.password }} </td>
                    <td>{{ stud.email }} </td>
                    <td>{{ stud.phone }} </td>
                    <td>{{ stud.branch }} </td>
                    <td><button type="submit" id="1" name="editstudent" style="border:none;" value="{{ stud.username }}" form="systemForm" formaction="/admin1/edit-student1/"<i class="glyphicon glyphicon-edit"></i></button></td>

                    <td><button type="submit" name="delete" style="border:none; background:none;" value="{{ stud.username }}" formaction="/admin1/delete-student/"<i class="glyphicon glyphicon-trash"></i></button></td>
                </tr> 
                </form>
                {% endfor %}
                
            </table>
                 <!--<button class="create-btn">Add a Student</button> -->
                 <a href="/admin1/add-student/" class="create-btn">Add a student</a>
            </div>
         
         
         <!--
                  <section class="stud-creation">
             <h2 style="text-align: center">Event Creation </h2>
        
         </section>
         <section class="delete_stud">
             <h2 style="text-align: center">Event Deletion</h2>
            <section class="register">
            <div class="box">
                <form>
                  Event ID:<br>
                  <input type="text" name="event_id"><br>    
              
                    <input type="submit" value="Delete">
            </ form>
            </div>
        </section>

         </section>   -->


        <div id="myModal" class="modal">

              <!-- Modal content -->
               <div class="modal-content">
                <span class="close">&times;</span>
                <form class="create" style="font-size: 18px;font-weight: 500" action="add/" method="POST">
                     
                  <b><input id="questionid" type="text" name="qid"></b>
                  <input type="text" name="q1"><br>   
                    
                  <input type="text" placeholder="Option 1" name="op1"><br>    
                  <input type="text" placeholder="Option 2" name="op2"><br>    
                  <input type="text" placeholder="Option 3" name="op3"><br>    
                  <input type="text" placeholder="Option 4" name="op4"><br> 
            </form>
              </div>

            </div> 

            <script>
            var modal = document.getElementById("myModal");
            
            var btn1 = document.getElementById("test");


            var span = document.getElementsByClassName("close")[0];


            btn1.onclick = function()  {
                modal.style.display = "block";
            }


            span.onclick = function() {
                  modal.style.display = "none";
                }

            window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }

            </script>

    
        </section>
     </body>
</html>
 
