{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Students List</title>
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/normalize.css" %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/simple-grid.css" %}"> 
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/ionicons.min.css" %}">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static "css/create-style1.css" %}">
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
    </head>
    
    <body>
        {% if students %}
        <section class="stud-creation">
<!--             <h2 style="text-align: center"><b>&mdash;Create a Survey&mdash;</b></h2>-->
        <section class="register">
            <div class="box">
                   
                    <table id ="t02">
                <tr>
                    <th>USN</th>    
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Branch</th>
                    <th>Registered On</th>
                    
<!--                    <th>Survey</th>-->
                </tr>    
                
                {% for student in students %}
                <tr>
                    <td>{{ student.username }}</td>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.branch }}</td>
                    <td> {{ student.registered_on }}</td>
                    
                </tr> 
                {% endfor %}
            </table>  
            <br><br>    
           
            <h4 id="rgcount">Number of Registered Students : {{ count }}</h4> 
            

          </div>
        </section>
         </section>
         {% else %}
         <h1>No Students Registered Yet!</h1>
         {% endif %}
    </body>

</html>

