{% load static %}   
<!DOCTYPE html>
<html>
    <head>
        <title>Survey</title>
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/normalize.css" %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/simple-grid.css" %}"> 
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/ionicons.min.css" %}">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static "css/create1-style.css" %}">
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
    </head>
    <body>
        <section class="register">
            <div class="box">

                <form class="create" method="POST" action="/home/survey/" style="font-size: 18px;font-weight: 500">
                    {% for question in questions %}
                  <b>Question {{ question.question_id }}:</b>
                    {{ question.question }}<br>   
                    <input type="radio" name="option{{question.question_id}}" id="1" value="{{ question.option1 }}">{{ question.option1 }}<br>  
                    <input type="radio" name="option{{question.question_id}}" id="2"value="{{ question.option2 }}">{{ question.option2 }}<br>  
                    <input type="radio" name="option{{question.question_id}}" id="3" value="{{ question.option3 }}">{{ question.option3 }}<br>  
                    <input type="radio" name="option{{question.question_id}}" id="4" value="{{ question.option4 }}">{{ question.option4 }}<br>   
                    <input type="submit" value="Submit">            
                {% endfor %}
                </ form>
            </div>
        </section>
    
    
    </body>


</html>