{% load static %}   
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Home</title>
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/normalize.css" %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/simple-grid.css" %}"> 
        
        <link rel="stylesheet" type="text/css" href="{% static "css/style-stud.css" %}">
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
<!--        <link rel="stylesheet/less" type="text/css" href = "Resources/Css/normalize.less">-->
        
    </head>
     <body>
        <header>
            <div class="texts">
                <div class= "admin">
                
                   Hello, {{user1}}!
    
                    <div class="dropdown">
                      <button class="dropbtn"><i class="glyphicon glyphicon-user icon-top"></i></button>
                      <div class="dropdown-content">
                        <a href="#">My Details</a>
                        <a href="../">Logout</a>
                      </div>
                    </div>
<!--
                    <div class="dropdown">
                      <button class="dropbtn"></button>
                      <div class="dropdown-content">
                        <a href="#">My Details</a>
                        <a href="#">Logout</a>
                      </div>
                    </div>
-->
                    
                </div>
                <ul class="main-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#acti">Activities</a></li>
                    <li><a href="#attendedtable">Feedback</a></li>  
                </ul>    
            </div>
            <br>
            <section class="events" id="first">
                <div class="row" style="max-width: 1200px;margin-left: auto;margin-right: auto; margin-top:10px; padding:20px">

                {% for upcoming in upcoming %}
                <form method="POST" action="/home/details1/" id="systemForm">
                <div class="col col-6-sm">
<!--                    <a href="#attendedtable">-->
                        <div class="box-events">
                        <h4 class="title-box">{{ upcoming.event_name }}</h4>
                        <button type="submit" name="event" class="btn-onimg" value="{{ upcoming.event_id }}">View More</button>  
                        </div>
<!--                    </a>-->
                </div>
                </form>
                {% endfor %}

                {% for upcoming in upcomingR %}
                <form method="POST" action="/home/details2/" id="systemForm">
                <div class="col col-6-sm">
<!--                    <a href="#attendedtable">-->
                        <div class="box-events">
                        <h4 class="title-box">{{ upcoming.event_name }}</h4>
                        <button type="submit" name="event" class="btn-onimg" value="{{ upcoming.event_id }}">View More</button>  
                        </div>
<!--                    </a>-->
                </div>
                </form>
                {% endfor %}

                {% comment %} <div class="col col-6-sm">
<!--                    <a href="file:///C:/Users/LiveWire/Desktop/DBMS/event-create%20(Final).html" target="_blank">-->
                        
                        <div class="box-events">
                        <h4 class="title-box">Event 2</h4> 
                        <a href ="event-des.html" target="_blank"><button class="btn-onimg">View More</button></a>    
                        </div>
<!--                    </a>               -->
                </div>
                <div class="col col-6-sm">
<!--                    <a href="file:///C:/Users/LiveWire/Desktop/DBMS/event-create%20(Final).html" target="_blank">-->
                        
                        <div class="box-events">
                        <h4 class="title-box">Event 3</h4> 
                        <a href ="event-des.html" target="_blank"><button class="btn-onimg">View More</button></a>    
                        </div>
<!--                    </a>               -->
                </div>     {% endcomment %}
                </div>  
   
            
            
            </section>
<!--
            <section class="event-table">
                <div class = "table">
                    <table id ="t01">
                <tr>
                    <th>List</th>    
                    <th>Upcounts</th>
                </tr>    
            
                <tr>
                    <td>LiveWire</td>
                    <td>54</td>
                </tr> 
                <tr>
                    <td>Gopala</td>
                    <td>72</td>
                </tr>
                <tr>
                    <td>and soo onn</td>
                    <td>100</td>
                </tr> 
            </table>
            </div>
         </section>
-->
        </header>
            {% comment %} <div class = "activities" id="acti">
               <h2 id="surveyhead">&mdash; Activities &mdash;</h2>            
                    <table id ="t02">
                <tr>
                    <th>Events Attended</th>    
                    <th>Survey</th>
                </tr>    
            
                <tr>
                    <td>LiveWire</td>
                    <td><a href ="event-des.html" target="_blank">View More</a></td>
                </tr> 
                <tr>
                    <td>Bumbshika</td>
                    <td><a href ="event-des.html" target="_blank">View More</a></td>
                </tr>
            </table>
            </div> {% endcomment %}
            
            <div class = "activities" id="acti">
               <h2 id="surveyhead">&mdash;  Registered Events  &mdash;</h2>  
               {% if registered %}          
                    <table id ="t02">
                <tr>
                    <th>Events</th>    
                    <th>Details</th>
                </tr>    

                {% for registered in registered %}
                <form method="POST" action="/home/details2/">
                <tr>
                    <td>{{ registered.event_name }}</td>
                    <td><button class="testt" type="submit"  name="event" style="border:none;" value="{{ registered.eventid }}">View More</button></td>
                </tr> 
                </form>
                {% endfor %}
            </table>
            {% else %}
                <h1 style="color: black">No Events Registered Yet!</h1>
            {% endif %}
            </div>



         
           <div class = "survey" id="attendedtable">
               <h2 id="surveyhead">&mdash; Survey Section &mdash;</h2>  
               {% if survey %}          
                    <table id ="t02">
                <tr>
                    <th>Events Attended</th>    
                    <th>Survey</th>
                </tr>    

                {% for survey in survey %}
                <form method="POST" action="/home/survey1/"> 
                <tr>
                    <td>{{ survey.event_name }}</td>
                    <td><button id="b100" style="border:none;" type="submit" name="event1"  value="{{ survey.eventid }}">Take Me</button></td>
                </tr> 
                </form>
                {% endfor %}
            </table>

            {% else %}
                <h1>You're all caught up!!<h1>

            {% endif %}
            </div>
        
         <footer>
            <a href="https://www.instagram.com/elite_rajat/" target ="_blank">About us</a>
         </footer>
     </body>
</html>

<!--
.  She has two older, paternal half-sisters, Marielle and Alana.[11][3] In 2013, Hadid graduated from Malibu High School, where she was captain of the varsity volleyball team as well as a competitive horseback rider.-->