{% load static %}   
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Survey Creation</title>
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/normalize.css" %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/simple-grid.css" %}"> 
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/ionicons.min.css" %}">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static "css/createSurvey-style.css" %}">
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
    </head>
    
    <body>
        <ul class="main-nav">
                    <li><a href="../">Home</a></li>
                    <li><button id="myBtn1"><a href="#">Add Question</a></button></li>
                </ul>
        <br><br>
        <br><br>
        <section class="stud-creation">
<!--             <h2 style="text-align: center"><b>&mdash;Create a Survey&mdash;</b></h2>-->
        <section class="register">
             {% for survey in survey %}
            <div class="box">
               
                <form class="create" style="font-size: 18px;font-weight: 500" method="POST" id="systemForm">
                    
                  <b>{{ survey.question_id }}:</b>
                    {{ survey.question }} <br>   
                    <ul class="option-list">
                    <li>{{ survey.option1 }}</li>
                    <li>{{ survey.option2 }}</li>
                    <li>{{ survey.option3 }}</li>
                    <li>{{ survey.option4 }}</li>
                    </ul>  
                     
                     <button type="submit" name="delete" value="{{ survey.question_id }}" form="systemForm" formaction="/admin1/delete-question/">Delete</button>              
                  
                  
                  </div>
                  <br>
                  </form>
                {% endfor %}
<!--
                  <br>              
                  <b>Question 2:</b>
                  <input type="text" name="q2"><br>
                  <input type="text" placeholder="op1" name="1op1"><br>    
                  <input type="text" placeholder="op21" name="1op2"><br>    
                  <input type="text" placeholder="op3" name="1op3"><br>    
                  <input type="text" placeholder="op4" name="1op4"><br>  
-->
                
                    
<!--                    <input type="submit" value="Create">-->

            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <form class="create" style="font-size: 18px;font-weight: 500" action="add/" method="POST">
                     
                  <b><input id="questionid" type="text" name="question_id"></b>
                  <input type="text" name="q1"><br>   
                    
                  <input type="text" placeholder="Option 1" name="op1"><br>    
                  <input type="text" placeholder="Option 2" name="op2"><br>    
                  <input type="text" placeholder="Option 3" name="op3"><br>    
                  <input type="text" placeholder="Option 4" name="op4"><br>    
                              
<!--
                  <b>Question 2:</b>
                  <input type="text" name="q2"><br>
                  <input type="text" placeholder="op1" name="1op1"><br>    
                  <input type="text" placeholder="op21" name="1op2"><br>    
                  <input type="text" placeholder="op3" name="1op3"><br>    
                  <input type="text" placeholder="op4" name="1op4"><br>  
-->
        
                    
                    <input type="submit" value="Create">
                    
                  
            </form>
              </div>

            </div>  
                <script>
                // Get the modal
                var modal = document.getElementById("myModal");

                // Get the button that opens the modal
                var btn1 = document.getElementById("myBtn1");
                var btn2 = document.getElementById("myBtn2");
                     

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal 
                btn1.onclick = function() {
                  modal.style.display = "block";
                }
                
                btn2.onclick = function() {
                  modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                  modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }
                </script>
            
            </div>
        </section>
         </section>
    </body>

</html>

