{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Survey Creation</title>
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/normalize.css" %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/simple-grid.css" %}"> 
        
        <link rel="stylesheet" type="text/css" href="{% static "Vendors/Css/ionicons.min.css" %}">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static "css/create-style1.css" %}">
        
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
    </head>
    
    <body>
        
        <section class="stud-creation">
<!--             <h2 style="text-align: center"><b>&mdash;Create a Survey&mdash;</b></h2>-->
        <section class="register">
            <div class="box">
                   
                    <table id ="t02">
                <tr>
                    <th>Event ID</th>    
                    <th>Question</th>
                    <th>Option</th>
                    <th>Count</th>
                    <th>Percentage</th>
                    
                    
<!--                    <th>Survey</th>-->
                </tr>    
                {% for student in events %}
                <tr>
                    <td>{{ student.event_id }}</td>
                    <td>{{ student.question }}</td>
                    <td>{{ student.option }}</td>
                    <td>{{ student.count }}</td>
                    
                    <td> {{ student.percent }}</td>
                    
                </tr> 
                {% endfor %}
            </table>  
            <br><br>    
           
            

          </div>
        </section>
         </section>
    </body>

</html>

